.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 170px;

}

.navbar img {
    width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
}


.nav-menu li a {
    color: white; /* Cambia el color de las opciones del navbar a blanco */
    text-decoration: none;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font: size 30px;
}



.nav-connect{
    padding: 20px 20px;
    border-radius: 40px; 
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
}

.nav-connect:hover{
transform: scale(1.05);}