.hero{
    display: flex;
    align-items:center;
    flex-direction: column;
    gap:35px;
}

.hero img{
    margin-top: 50px;
    width: 300px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    border-radius: 50%; /* Si deseas que la imagen sea circular */
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;

}